.orders {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.orders_products {
    align-self: flex-start;
    margin: 3em auto 0 auto;
    flex-wrap: wrap;
    width: 90%;
}

.orders_products > p {
    font-size: 1.5em;
    color: black;
    text-align: center;
    margin: 2em 0 4em 0;
}

.orders_products a {
    text-decoration: none;
}

.orders_products > a > div {
    display: flex;
    align-items: center;
    background-color: #00453D;
    border-radius: .5em;
    margin-bottom: 3em;
}

.orders_products img {
    width: 28vw;
    height: 32vw;
    border-radius: .5em 0 0 .5em;
}

.orders_products div p {
    text-align: center;
    color: #F5DADF;
}

.orders_products div > p {
    margin-left: .1em;
}

.orders_products div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 32%;
    margin: 0 .8em;
}

.orders_products div > div > p:first-child {
    margin-bottom: .7em;
}

@media screen and (min-width: 500px) {
    .orders_products div p {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 700px) {
    .orders_products img {
        width: 18vw;
        height: 22vw;
    }

    .orders_products div p {
        margin-left: 1.8em;
    }
}

@media screen and (min-width: 1000px) {
    .orders_products img {
        width: 12vw;
        height: 15vw;
    }
}

@media screen and (min-width: 1150px) {
    .orders_products div p {
        margin-left: 5em;
    }
}
