.orders {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.orders_products {
    align-self: flex-start;
    margin: 3em auto 0 auto;
    flex-wrap: wrap;
    width: 90%;
}

.orders_products a {
    text-decoration: none;
}

.orders_products > a > div {
    display: flex;
    align-items: center;
    background-color: #00453D;
    border-radius: .5em;
    margin-bottom: 3em;
}

.orders_products img {
    width: 26%;
    border-radius: .5em 0 0 .5em;
}

.orders_products p {
    text-align: center;
    color: #F5DADF;
}

.orders_products div > p {
    margin-left: .1em;
}

.orders_products div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 32%;
    margin: 0 .8em;
}

.orders_products div > div > p:first-child {
    margin-bottom: .7em;
}
