.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #F5DADF;
    background-color: #F5DADF;
}

.cart h1 {
    color: #00453D;
    margin: 1em;
    font-size: 1.5em;
}

.cart_products {
    align-self: flex-start;
    margin-left: 1em;
    flex-wrap: wrap;
    width: 90%;
}

.cart_products div {
    display: flex;
    align-items: center;
    background-color: #00453D;
    border-radius: .5em;
    margin-bottom: .8em;
}

.cart_products div img {
    width: 80px;
    border-radius: .5em 0 0 .5em;
}

.cart_products > div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 40%;
    margin-right: 1em;
}

.cart_products > div > div > p:first-child {
    margin-bottom: .5em;
}

.cart_products div button {
    border: 2px solid #F5DADF;
    background-color: transparent;
    color: #F5DADF;
    margin-right: 3em;
    padding: .3em;
    border-radius: .5em;
    transition: .2s;
    cursor: pointer;
}

.cart_products div button:hover {
    background-color: #F5DADF;
    color: #00453D;
    border: 2px solid #00453D;
}

.cart_infos {
    color: #00453D;
}

.cart_infos p {
    font-size: 1.5em;
    font-family: "Platypi", sans-serif;
    font-size: 1.5em;
}

.cart > button {
    border: 2px solid #00453D;
    color: #00453D;
    background-color: #F5DADF;
    padding: .3em;
    border-radius: .5em;
    margin: 1.5em;
    cursor: pointer;
    transition: .2s;
}

.cart > button:hover {
    border: 2px solid #F5DADF;
    color: #F5DADF;
    background-color: #00453D;
}
