.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5DADF;
    padding: 2.5em;
}

.products h1 {
    font-size: 1.5em;
}

.products label {
    margin: 1em;
    color: #00453D;
}

.products label p {
    color: #00453D;
    font-size: 1.1em;
    text-indent: .2em;
}

.products label input {
    border-radius: .5em;
    text-indent: .2em;
    border: 2px solid #00453D;
    font-size: 1.2em;
    color: white;
    width: 18em;
    height: 2em;
    background-color: #00453D;
}

.products label textarea {
    width: 22em;
    height: 20vh;
    resize: vertical;
}

.products label select {
    width: 20em;
    padding: .5em;
    border-radius: .5em;
    color: #F5DADF;
    border: 2px solid #F5DADF;
    background-color: #00453D;
    font-size: 1.1em;
    text-align: center;
}

.products > input {
    margin: .8em;
    border-radius: .5em;
    width: 18em;
    height: 3em;
    cursor: pointer;
    border: none;
    background-color: #00453D;
    color: white;
    padding: 1em;
}

.products input::file-selector-button {
    font-size: .8em;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid #F5DADF;
    background-color: transparent;
    color: #F5DADF;
    padding: .3em;
    border-radius: .5em;
    font-weight: bolder;
}

.products > p {
    font-size: 1.2em;
    text-align: center;
    margin-top: .8em;
    color: #00453D;
}

.products > p a {
    font-size: 1em;
    color: #00453D;
    text-decoration: underline;
}

.products_images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.products_images p {
    max-width: 40vw;
    height: 1.2em;
    overflow: hidden;
    margin-right: .8em;
}

.products_images button {
    border: 2px solid #00453D;
    background-color: transparent;
    color: #00453D;
    padding: .1em;
    border-radius: .5em;
    transition: .2s;
    cursor: pointer;
}

.products_images button:hover {
    background-color: #00453D;
    color: #F5DADF;
    border: 2px solid #F5DADF;
}

@media screen and (min-width: 700px) {
    .products label input {
        width: 30em;
    }

    .products label textarea {
        width: 36em;
    }

    .products label select {
        width: 33em;
    }
}
