.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5DADF;
    padding: 5em;
}

.login h1 {
    font-size: 2em;
}

.login label {
    margin: 1em;
    color: #00453D;
}

.login label p {
    color: #00453D;
    font-size: 1.1em;
    text-indent: .2em;
}

.login label input {
    border-radius: .5em;
    text-indent: .2em;
    border: 2px solid #00453D;
    font-size: 1.2em;
    color: white;
    width: 18em;
    height: 2em;
    background-color: #00453D;
}

.login > input {
    margin: .8em;
    border-radius: .5em;
    width: 18em;
    height: 3em;
    cursor: pointer;
    border: none;
    background-color: #00453D;
    color: white;
    padding: 1em;
}

.login > p {
    font-size: 1.2em;
    text-align: center;
    margin-top: .8em;
    color: #00453D;
}

.login > p a {
    font-size: 1em;
    color: #00453D;
    text-decoration: underline;
}

.login_with {
    margin: 1.2em;
}

.login_with p {
    color: #00453D;
    font-size: 1.2em;
    text-align: center;
    margin-bottom: .5em;
}
