.navbar {
    display: flex;
    gap: .4em;
    justify-content: space-between;
    align-items: center;
    padding: 1em .5em;
    border-bottom: 1px solid #F5DADF;
    background-color: #00453D;
}

.navbar img {
    width: 40px;
}

.navbar_category, .navbar_size {
    position: relative;
    display: inline-block;
}

.navbar_category {
    margin: 0 .2em;
}

.navbar_category button, .navbar_size button {
    background-color: transparent;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: .3em;
    color: #F5DADF;
}

.navbar_category button:hover, .navbar_size button:hover {
    background-color: #F5DADF;
    color: #00453D;
}

.navbar_category_content, .navbar_size_content {
    display: none;
}

.navbar_category_open_content, .navbar_size_open_content {
    display: block;
    position: absolute;
    background-color: #00453D;
    min-width: 12em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar_category_open_content a, .navbar_size_open_content a {
    color: #F5DADF;
    padding: 1em 1.2em;
    text-decoration: none;
    display: block;
}

.navbar_category_open_content a:hover, .navbar_size_open_content a:hover {
    background-color: #F5DADF;
    color: #00453D;
}

.navbar_account a {
    color: #F5DADF;
    margin: .6em;
}

.navbar_account a svg {
    font-size: 1.5em;
    border-radius: .2em;
}

.navbar_account a:hover svg {
    background-color: #F5DADF;
    color: #00453D;
}
