.navbar {
    display: flex;
    gap: .4em;
    justify-content: space-between;
    align-items: center;
    padding: 1em .5em;
    border-bottom: 1px solid #F5DADF;
    background-color: #00453D;
}

.navbar img {
    width: 10em;
}

.navbar_menu,
.navbar_account {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.navbar_menu svg {
    color: #F5DADF;
    font-size: 1.5em;
    border-radius: .2em;
}

.navbar_account a,
.navbar_account button {
    color: #F5DADF;
    margin: .6em;
}

.navbar button {
    background-color: transparent;
    border: none;
}

.navbar_account a svg {
    font-size: 1.5em;
    border-radius: .2em;
}

.navbar_account a:hover svg {
    background-color: #F5DADF;
    color: #00453D;
}
