.navbar {
    display: flex;
    gap: .4em;
    justify-content: space-between;
    align-items: center;
    padding: 1em .5em;
    border-bottom: 1px solid #F5DADF;
    background-color: #00453D;
}

.navbar img {
    width: 10em;
}

.navbar_menu,
.navbar_account {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.navbar_menu svg {
    color: #F5DADF;
    font-size: 1.5em;
    border-radius: .2em;
}

.navbar_hidden_menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 75vw;
    height: 100vh;
    padding: 2em;
    top: 0;
    left: 0;
    background-color: #00453df1;
    transition: .2s ease-in-out;
    border: 1px solid #F5DADF;
    color: #F5DADF;
}

.navbar_hidden_menu h2:last-of-type {
    margin-top: 1.5em;
}

.navbar_hidden_menu ul li {
    list-style-type: none;
    margin: .8em;
    text-align: center;
    text-decoration: underline;
}

.navbar_hidden_menu > label {
    display: flex;
    margin: .6em;
}

.navbar_hidden_menu > label > p {
    margin-left: .5em;
}

.navbar_account a,
.navbar_account button {
    color: #F5DADF;
    margin: .6em;
}

.navbar button {
    background-color: transparent;
    border: none;
}

.navbar_account a svg {
    font-size: 1.5em;
    border-radius: .2em;
}

.navbar_account a:hover svg {
    background-color: #F5DADF;
    color: #00453D;
}
