.sort_products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: .8em;
}

.sort_products > a {
    text-decoration: none;
}

.sort_products div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F5DADF;
    background-color: #00453D;
    width: 46vw;
    height: 73vw;
    padding: .3em;
    margin: .3em;
    border-radius: .3em;
}

.sort_products img {
    padding-top: .3em;
    width: 32vw;
    height: 40vw;
    margin-bottom: .8em;
    border-radius: .5em;
}

.sort_products p {
    font-size: 4vw;
    text-align: center;
    max-width: 80%;
    word-wrap: break-word;
}

.sort_products div button {
    color: #F5DADF;
    background-color: transparent;
    border: none;
    margin-top: .5em;
    padding: .3em;
    border-radius: .5em;
    transition: .3s;
    cursor: pointer;
}

.sort_products div button:hover {
    color: #00453D;
    background-color: #F5DADF;
}

.sort_products div button svg {
    font-size: 6vw;
}

.sort_products_pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2.5em;
}

.sort_products_pagination button {
    background-color: transparent;
    color: #00453D;
    margin-right: .5em;
    padding: .5em .9em;
    transition: .2s;
    cursor: pointer;
    border: none;
    border-bottom: 2px solid #00453D;
    border-radius: .2em .2em 0 0;
}

@media screen and (min-width: 500px) {
    .sort_products div {
        width: 46vw;
        height: 62vw;
    }

    .sort_products img {
        width: 28vw;
        height: 35vw;
    }

    .sort_products p {
        font-size: 3.5vw;
    }

    .sort_products div button svg {
        font-size: 5vw;
    }
}

@media screen and (min-width: 768px) {
    .sort_products div {
        width: 30vw;
        height: 38vw;
    }

    .sort_products img {
        width: 16vw;
        height: 20vw;
    }

    .sort_products p {
        font-size: 2vw;
    }

    .sort_products div button svg {
        font-size: 4vw;
    }
}

@media screen and (min-width: 1024px) {
    .sort_products div {
        width: 23vw;
        height: 30vw;
    }

    .sort_products img {
        width: 12vw;
        height: 18vw;
    }

    .sort_products p {
        font-size: 1.5vw;
    }

    .sort_products div button svg {
        font-size: 2vw;
    }
}
