.home_products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: .8em;
}

.home_products > a {
    text-decoration: none;
}

.home_products div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F5DADF;
    background-color: #00453D;
    width: 11em;
    height: 18em;
    padding: .3em;
    margin: .3em;
    border-radius: .3em;
}

.home_products img {
    padding-top: .3em;
    width: 100px;
    height: 120px;
    margin-bottom: .8em;
    border-radius: .5em;
}

.home_products p {
    font-size: 1em;
    text-align: center;
    max-width: 80%;
    word-wrap: break-word;
}

.home_products div button {
    color: #F5DADF;
    background-color: transparent;
    border: none;
    margin-top: .5em;
    padding: .3em;
    border-radius: .5em;
    transition: .3s;
    cursor: pointer;
}

.home_products div button:hover {
    color: #00453D;
    background-color: #F5DADF;
}

.home_products div button svg {
    font-size: 1.5em;
}

.home_pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2.5em;
}

.home_pagination button {
    background-color: transparent;
    color: #00453D;
    margin-right: .5em;
    padding: .5em .9em;
    transition: .2s;
    cursor: pointer;
    border: none;
    border-bottom: 2px solid #00453D;
    border-radius: .2em .2em 0 0;
}
