.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00453D;
    padding: 1em;
    border-top: 1px solid #F5DADF;
}

.footer_compliments {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 1em 0 1em 0;
    color: #F5DADF;
}

.footer_compliments div {
    margin-bottom: 1em;
}

.footer_compliments h2 {
    font-weight: bold;
    margin-bottom: .3em;
}

.footer_compliments div svg {
    vertical-align: middle;
}

.footer_compliments div p {
    font-size: .9em;
}

.footer_compliments div p a {
    font-size: 1em;
    text-decoration: underline;
    color: #F5DADF;
}

.footer_payments {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer_payments img {
    width: 3em;
    margin-right: .8em;
}

.footer_about {
    color: #F5DADF;
    margin-top: 2em;
}

.footer_about h2 {
    text-align: center;
    margin-bottom: .3em;
}

.footer_disclaimer {
    text-align: center;
    margin-top: 2em;
    color: #F5DADF;
}

.footer_disclaimer p {
    margin-bottom: .5em;
}

.footer_disclaimer p a {
    text-decoration: underline;
    color: #F5DADF;
}
