.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products h1 {
    font-size: 2em;
    text-align: center;
    margin-top: .7em;
}

.products > a {
    font-size: 1.3em;
    color: #00453D;
    text-decoration: underline;
    margin: 1em;
}

.products_products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.products_products div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F5DADF;
    background-color: #00453D;
    width: 80vw;
    padding: .3em;
    margin: .3em;
    border-radius: .3em;
}

.products_products div img {
    padding-top: .3em;
    width: 100px;
    height: 120px;
    margin-bottom: .8em;
    border-radius: .5em;
}

.products_products div p {
    font-size: 1em;
    text-align: center;
    margin-bottom: .5em;
}

.products_products div a {
    all: unset;
    text-decoration: underline;
    font-size: 1.2em;
    margin: 1em 0;
}

.products_products div button {
    border: 2px solid #F5DADF;
    color: #F5DADF;
    background-color: #00453D;
    padding: .3em;
    border-radius: .5em;
    cursor: pointer;
    transition: .2s;
    margin-bottom: 1em;
    font-size: 1.2em;
}

.products_products div button:hover {
    border: 2px solid #00453D;
    color: #00453D;
    background-color: #F5DADF;
}
