.user_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5DADF;
    height: 75vh;
}

.user_menu svg {
    font-size: 1.1em;
    vertical-align: middle;
    margin-left: .2em;
}

.user_menu a,
.user_menu button {
    color: #00453D;
    margin: .8em 0;
    font-size: 1.5em;
}

.user_menu button {
    color: #00453D;
    border: 2px solid #00453D;
    padding: .3em;
    border-radius: .5em;
    transition: .2s;
    background-color: transparent;
    cursor: pointer;
}

.user_menu button:hover {
    background-color: #00453D;
    color: #F5DADF;
    border: 2px solid #F5DADF;
}
