.product_carousel {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #F5DADF;
    margin-bottom: .5em;
}

.product_carousel svg {
    position: absolute;
    font-size: 2.5em;
    color: #F5DADF;
    border-radius: 50%;
    background-color: #00453D;
}

.product_carousel svg:first-of-type {
    left: 0.1em;
}

.product_carousel svg:last-of-type {
    right: 0.1em;
}

.product_carousel img {
    width: 75vw;
    height: 99vw;
}

.product_infos > h1 {
    font-family: "Yeseva one, sans-serif";
    font-size: 2em;
    margin-left: .4em;
    text-align: left;
}

.product_infos > p,
.product div > p {
    text-align: left;
    font-size: 2em;
    font-family: "Platypi", sans-serif;
    margin-left: .4em;
}

.product h2 {
    font-size: 1.5em;
    margin: .8em .5em .4em .5em;
}

.product_colors, .product_sizes {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    margin-left: .8em;
}

.product_colors label input,
.product_sizes label input {
    display: none;
}

.product_colors p, .product_sizes p {
    color: #F5DADF;
    border: 2px solid #F5DADF;
    padding: .3em .5em;
    font-size: 1.7em;
    border-radius: .5em;
    background-color: #00453D;
    cursor: pointer;
}

.product_colors p:hover, .product_sizes p:hover {
    color: #00453D;
    background-color: #F5DADF;
    border: 2px solid #00453D;
}

.product_colors label input:checked + p,
.product_sizes label input:checked + p {
    color: #00453D;
    background-color: #F5DADF;
    border: 2px solid #00453D;
}

.product button {
    display: block;
    text-align: center;
    background-color: #00453D;
    color: #F5DADF;
    margin: 2em auto;
    font-size: 1.4em;
    padding: .5em;
    border-radius: .3em;
    border: 2px solid #F5DADF;
    cursor: pointer;
    transition: .3s;
}

.product button:hover {
    background-color: #F5DADF;
    color: #00453D;
    border: 2px solid #00453D;
}

@media screen and (min-width: 450px) {
    .product_carousel img {
        width: 68vw;
        height: 80vw;
    }
}

@media screen and (min-width: 600px) {
    .product_carousel img {
        width: 55vw;
        height: 60vw;
    }
}

@media screen and (min-width: 768px) {
    .product {
        display: flex;
        flex-direction: column;
    }

    .product_flex_top {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: .5em;
    }

    .product_carousel {
        border: 5px solid #F5DADF;
        margin-left: .5em;
    }

    .product_carousel img {
        width: 35vw;
        height: 40vw;
    }

    .product_carousel svg {
        font-size: 2em;
    }

    .product_infos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-right: .5em;
    }

    .product_flex_bottom {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 900px) {
    .product_carousel {
        margin-right: 3em;
    }
}

@media screen and (min-width: 1000px) {
    .product_carousel {
        margin-right: 5em;
    }

    .product_carousel img {
        width: 25vw;
        height: 30vw;
    }
}

@media screen and (min-width: 1250px) {
    .product_carousel {
        margin-right: 10em;
    }
}
